<%= form_for @song do |f| %>

<div class="form-group">
  <label>Artist name</label>
  <%= f.select :artist_id, options_for_select(Artist.all.map { |artist| [artist.name, artist.id] }), {:include_blank => "Please select artist"}, {:class => "form-control"} %>
</div>

<div class="form-group">
  <label>Song name</label>
  <%= f.text_area :name, rows: 1, placeholder: "Song name", class: "form-control" %>
</div>

<div class="form-group">
  <label>Album name</label>
  <%= f.text_area :album, rows: 1, placeholder: "Please enter the album name", class: "form-control" %>
</div>

<div class="form-group">
  <label>Song lyrics</label>
  <%= f.text_area :lyrics, rows: 2, placeholder: "Please enter a link to the album lyrics", class: "form-control" %>
</div>

<div class="form-group">
  <label>Song year</label>
    <%= f.number_field :year, placeholder: "eg. 2009", class: "form-control" %>
</div>

  <label>Save this song?</label>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>


<% end %>
